.swipe{
  width: 100%;
  height: 300px;
  img{
      height: 300px;
      width: 100%;
      background-size: cover;
  }
}
.news{
  padding: 15px 40px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #cbd7f3;
  .icon{
    margin-right: 20px;
    width: 50px;
    height: 30px;
    float: left;
    background:url('../../icon/mss.png') center no-repeat;

  }
  .text{
    float: left;
    color: #57585a;
    background-size: cover;
  }
  .more{
    font-weight: lighter;
    float: right;
    color: #060cdd;
  }
}
.lists_img{
  width: 100%;
  height: 80px;
  div{
    text-align: center;
    line-height: 10px;
    width: 25%;
    float: left;
    img{
     margin-top: 30px;
    }
  }
}
.lists_title{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #cbd7f3;
  div{
    text-align: center;
    line-height: 80px;
    width: 25%;
    float: left;
    color: #5a5a5a;
  }
}
.screen{
  border-top: 1px solid #cbd7f3;
  padding: 10px 40px;
  height: 80px;
  width: 100%;
  .screen_left{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    background: #f0f0f0;
    border-radius: 20px;
  }
  .screen_right{
    float: right;
    font-size: 26px;
    line-height: 60px;
    .screen_icon{
      margin-top: 15px;
      margin-left: 5px;
      float: right;
      width: 30px;
      height: 30px;
      background-size: cover;
      background:url('../../icon/screen.png') center no-repeat;
    }
  }
}
.main_news{
  height: auto;
  .news_list{
    font-family: 楷体;
    .news_list_img{
      img{
        width: 100%;
        height: 300px;
        padding: 0 20px;
        background-size: cover;
      }
    }
    .index_list_time{
      height: 30px;
      line-height: 30px;
      font-size: 8px !important;
      color: #dd5815;
      padding-left: 30px;
    }
    .news_list_text{
      padding: 0 30px;

    }
  }
}


