.image{
  margin-top: 10px;
  margin-bottom: 20px;
  img{
    width: 100%;
    height: 300px;
    background-size: cover;
    border-radius: 5px;
  }
}
.news {
  padding: 0.2rem 0.5rem;
  height: 1rem;
  width: 100%;
  border-bottom: 1px solid #E4E4E4;
  

  .news_icon {
    margin-right: 20px;
    width: 0.6rem;
    height: 0.6rem;
    float: left;
    background: url('../../icon/message_warn.png') center no-repeat;
    background-size: 100% 100%;

  }

  .text {
    float: left;
    color: #67acf3;
    line-height: 0.65rem;
  }

  .more {
    font-weight: lighter;
    float: right;
    color: #67acf3;
    line-height: 0.65rem;
    font-size: 0.1rem;
  }
}

.index_list{
  width: 92%;
  margin-left:4%;
  margin-top: 20px;
  float:left;
  border-bottom: 1px solid #e8e9eb;
  .index_list_right{
    width: 60%;
    float: left;
    margin-left: 3%;
    .index_list_right_top{
      height: 40px;
      font-size: 28px;
      font-weight:bold;
    }
    .index_list_right_center{
      height: 50px;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      color: #5a5a5a;
    }
    .index_list_right_bottom{
      font-size: 22px;
      height: 10px;
    }
  }
  .index_list_img{
    img{
      float: left;
      width: 25%;
      height: 110px;
      background-size: cover;
    }
  }
}
